@header-height: 50px;
@iOS-status-height: 20px;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.header.header-default {
  //background-color: @gray;
  .background-image(linear-gradient(to right, #7d9d9a 0%,#8e959b 100%));
  color: @white;
}
.header.header-blue-dark {
  background-color: @blueDark;
  color: @white;
}
.header.header-gray-dark {
  background-color: @grayDark;
  color: @white;
}
.flexbox.header-iOS {
  padding-top: @iOS-status-height;
}
.header-spacer {
  height: @header-height;
}
.header-spacer.header-iOS {
  height: @header-height + @iOS-status-height;
}

.header-btn {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header-btn.selected {
  background-color: @grayDark;
}

.header-btn-icon {
  font-size: 25px;
}
.header-btn-html {
  font-size: 12px;
  line-height: 15px;
  margin-top: -3px;
}

.header-btn-alert {
  position:absolute;
  border-radius: 20px;
  padding: 0 5px;
  background-color: @green;
  color: @white;
  .font-small;
  margin-left: -15px;
  top: 2px;
  line-height: 18px;
}