@header-height: 50px;
@iOS-status-height: 20px;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  //border-bottom: solid 1px @white;
}
.header.header-default {
  background-color: @greenDark;
  //.background-image(linear-gradient(to right, @greenDark 0%, @green 100%));
  color: @white;
}
.flexbox.header-iOS {
  padding-top: @iOS-status-height;
}
.header-spacer {
  height: @header-height;   //hardcoded
}
.header-spacer.header-iOS {
  height: @header-height + @iOS-status-height;
}

.header-btn {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header-btn.selected {
  background-color: @green;
}
//.header-btn:not(:first-child) {
//  border-left: solid 1px @white;
//}
.header-btn-icon {
  font-size: 25px;
}
.header-btn-html {
  font-size: 12px;
  line-height: 15px;
  margin-top: -3px;
}

.header-btn-alert {
  position:absolute;
  border-radius: 20px;
  padding: 0 5px;
  background-color: @red;
  color: @white;
  .font-small;
  margin-left: -15px;
  top: 2px;
  line-height: 18px;
}