.bg-white {
  background-color: @white;
}
.bg-gray-lighter {
  background-color: @grayLighter;
}
.bg-gray-dark {
  background-color: @grayDark;
}
.bg-gray-light {
  background-color: @grayLight;
}
.bg-red-light {
  background-color: @red-light;
}
.bg-yellow-light, .bg-grow {
  background-color: @grow;
}
.bg-purple-light, .bg-give {
  background-color: @give;
}