.max-200 {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.max-250 {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.max-300 {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.max-450 {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.max-600 {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.max-750 {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}
.max-900 {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}