.game-subheader-wrapper {
  padding: 5px 0;
  margin-bottom: 10px;
  border-bottom: solid 1px @grayLighter;
}
.game-subheader {
  text-transform: uppercase;
  color: @red;
}

.game-impact-details-row {
  padding: 0 10px;
}
.game-impact-details-row.self {
  background-color: @grow;
  font-weight: bold;
}
.game-impact-details-row.self-reach {
  background-color: @grow;
}
.game-impact-details-row.buddy {
  font-weight: bold;
}
.game-impact-details-row.buddy-reach {
}
.game-impact-details-col {
  width: 60px;
  text-align: right;
}

//.game-challenges-user-cont:nth-child(odd) {
//  background-color: @grayLighter;
.game-challenges-user-cont {
  border-bottom: dashed 1px @grayLighter;
}
.game-challenges-user-cont.past {
  opacity: 0.5;
}
.game-challenges-user-cont.present {
  background-color: lighten(@gratitude, 20%);
}