.game-img {
  width: 100%;
}
.game-wrapper {
  background-color: @white;
  border-radius: 10px;
  padding: 10px;
}
.game-subheader-wrapper {
  padding: 5px 0;
  margin-bottom: 10px;
  border-bottom: solid 1px @grayLighter;
}
.game-subheader {
  text-transform: uppercase;
  color: @red;
}