.layout-content {
  //so padding does not mess up min height
  box-sizing: border-box;
}

.layout-content.layout-green-dark {
  background-color: @greenDark;
}
.layout-content.layout-gray-dark {
  background-color: @grayDark;
}